.header_nav {
	height: auto;
	width: 100% !important;
	z-index: 5000;
	/* padding: 0 16px; */
	position: sticky;
	/* top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center; */
	box-shadow: 0 0 5px #cecece;
	background-color: #fff;
	transition: all 0.5s ease;
	font-family: "Varela Round", sans-serif;
}
.searchDiv{
    width: 50%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
